%h1 Login

- if flash[:alert]
  .alert= flash[:alert]

= form_with url: login_path, local: true do |form|
  .field
    = form.label :email
    = form.email_field_tag :email, params[:email], placeholder: 'Email'
  
  .field
    = form.label :password
    = form.password_field_tag :password, nil, placeholder: 'Password'
  
  .actions
    = form.submit 'Log in'

%p
  Don't have an account?
  = link_to 'Sign up', signup_path