%h1 Search Results

%p Searching for #{@query || 'nothing'}

%h3 Results:
- if @results.any?
  %ul
    - @results.each do |result|
      %li= "#{result.name} - #{result.tenant.name} - #{result.available_count >0 ? 'Available' : 'Unavailable'}"
- else
  %p No results found. Try "projector", "microphone", or "speaker".