%h1 Equipment Booking

%ul
  - @equipments.each do |item|
    %li= "#{item[:name]} - #{item[:category]} - #{item[:available] ? 'Available' : 'Unavailable'}"

= link_to 'Continue', booking_confirmation_path, class: 'btn'