%h1 Equipment Booking

%ul
  - @equipments.each do |item|
    %li
      = "#{item.name} - #{item.available_count >0 ? 'Available' : 'Unavailable'}"

      =  link_to 'Book',"/bookings/new?bookable_id=#{item.id}&bookable_type=Equipment"
   

= link_to 'Continue', booking_confirmation_path, class: 'btn'