%header.main-header
  .header-container
    .brand
      = link_to "Equipment / Venue Booking System", root_path

    .search-area
      = form_with url: search_path, method: :get, local: true, class: 'search-form' do
        = text_field_tag :q, params[:q], placeholder: 'Search venue or equipment...'
        = submit_tag 'Search', class: 'search-btn'

    .user-controls
      - if logged_in?
        %span.user-name= current_user.name
        = link_to 'Change Password', password_edit_path, class: 'nav-link'
        = button_to 'Log out', logout_path, method: :delete, class: 'logout-btn'
      - else
        = link_to 'Log in', login_path, class: 'nav-link'
        = link_to 'Sign up', signup_path, class: 'nav-link'