%header.topbar
  .topbar-left Equipment / Venue Booking System
  
  - unless @hide_header || !logged_in?
    .topbar-center
      = form_with url: search_path, method: :get, local: true do
        = text_field_tag :q, params[:q], placeholder: 'Search venue or equipment'
        = submit_tag 'Search'
    
    -# This section must be indented to be part of the "unless" block
    .topbar-right
      %span= current_user.name
      = button_to 'Log out', logout_path, method: :delete