%header.topbar
  .topbar-left equipment/venue booking system
  
  .topbar-center
    = form_with url: search_path, method: :get, local: true do
      = text_field_tag :q, params[:q], placeholder: 'Search venue or equipment'
      = submit_tag 'Search'
  
  .topbar-right
    %span= current_user.name
    = button_to 'Log out', logout_path, method: :delete