%h1 Change Password

- if flash[:alert]
  .alert= flash[:alert]

= form_with url: password_path, method: :patch, local: true do |form|
  .field
    = form.label :password_current, 'Current Password'
    = form.password_field_tag :password_current, nil, placeholder: 'Current Password'
  
  .field
    = form.label :password, 'New Password'
    = form.password_field_tag :password, nil, placeholder: 'New Password'
  
  .field
    = form.label :password_confirmation
    = form.password_field_tag :password_confirmation, nil, placeholder: 'Confirm New Password'
  
  .actions
    = form.submit 'Update Password'

= link_to 'Back', main_path